@font-face {
	font-family: 'Minecraft';
	src: url(../fonts/Minecraft-Regular.woff2) format('woff2'),
	url(../fonts/Minecraft-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Minecraft';
	src: url(../fonts/Minecraft-Italic.woff2) format('woff2'),
	url(../fonts/Minecraft-Italic.woff) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Minecraft';
	src: url(../fonts/Minecraft-Bold.woff2) format('woff2'),
	url(../fonts/Minecraft-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Minecraft';
	src: url(../fonts/Minecraft-BoldItalic.woff2) format('woff2'),
	url(../fonts/Minecraft-BoldItalic.woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}